__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.env
*.bak
*.tmp
*.coverage
.coverage.*
.cache/
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
site/
htmlcov/
*.spec

venv/
env/
.venv/
.envrc
