.bloque {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .3rem 1rem .4rem 1rem;
  border-radius: var(--border-radius);
  border: var(--border);
  border-left-color: color-mix(in srgb, var(--color-bloque) 50%, transparent);
  min-width: 17rem;
  position: relative;
  
  h2 {
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: .5rem;
    .duracion {
      font-weight: 350;
      margin-left: auto;
      margin-right: 1rem;
    }
    .circulo {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &::-webkit-color-swatch {
        border: none;
      }
      &::-moz-color-swatch {
        border: none;
      }
    }
    .eliminarBtn {
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background: transparent;
      &:hover {
        background: var(--red); 
      }
      svg {
        display: block;
        width: 18px;
        height: 18px;
        color: var(--blanco-gris-4);
        &:hover {
          color: var(--blanco-gris-2);
        } 
      }
    }
    
  }
  time {
    color: var(--blanco-gris-3);
  }
  button {
    color: var(--blanco-gris-3);
    &:hover {
      text-decoration: underline;
      color: var(--blanco-gris-2);
    }
  }
  .descripcion {
    height: 1.6rem;
    font-style: italic;
    &:focus {
      border-bottom: 1px solid var(--color-bloque, #000);
    }
  }
}