.h2 {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: .5rem;
  .duracion {
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.8rem;
    gap: .1rem;
    .stepper {
      display: flex;
      flex-direction: column;
      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 18px;
        height: 18px;
        padding: 0;
        border: none;
        border-radius: var(--border-radius);
        background: transparent;
        svg {
          align-self: baseline;
          display: block;
          padding: 0;
          color: var(--gris-negro-4);
          &:hover {
            color: var(--gris-negro-1);
          }
        }
      }

    }
  }
  .eliminarBtn {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: transparent;
    &:hover {
      background: var(--red); 
    }
    svg {
      display: block;
      width: 18px;
      height: 18px;
      color: var(--blanco-gris-4);
      &:hover {
        color: var(--blanco-gris-2);
      } 
    }
  }
  
}