input {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-webkit-color-swatch {
    border: none;
  }
  &::-moz-color-swatch {
    border: none;
  }
}