.details {
  min-width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header {
    border-bottom: var(--border);
    padding: .5rem 2rem;
    margin-bottom: 1.2rem;
    h2 {
      font-weight: 400;
    }
  }
}
