.details {
  min-width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header {
    padding: .5rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-weight: 400;
      padding: .5rem 0;
      margin-bottom: .2rem;
      align-self: center;
    }
    textarea {
      height: 1.6rem;
      font-style: italic;
      text-align: center;
      &:focus {
        border-bottom: 1px solid var(--gris-negro-5);
      }
    }
  }
}
