.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  border-bottom: var(--border);
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
    display: flex;
  }
}