button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;
  div {
    position: absolute;       /* se posiciona relativo al padre con position: relative */
    top: 100%;                /* justo debajo del botón o h2 */
    left: 0;                 /* alineado a la derecha */
    background: var(--gris-negro-5);
    border-radius: var(--border-radius);
    padding: .5rem;
    z-index: 100;             /* encima del resto */
    min-width: 160px;
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      li {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: first baseline;
        border-radius: var(--border-radius);
        padding: 0.4rem 0.6rem 0.4rem 0.4rem;
        gap: .5rem;
        a {
          color: var(--blanco-gris-1);
          font-size: 1.1rem;
          cursor: pointer;
        }
        span {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          border-radius: 100%;
          
        }
        &:hover {
          background-color: var(--gris-negro-4);
        }
      }
    }
  }
}