:root,
.light,
.light-theme {
  --yellow-1: #f0efed;
  --yellow-2: #f3ebdb;
  --yellow-3: #fae2b3;
  --yellow-4: #fcd890;
  --yellow-5: #f9cc6d;
  --yellow-6: #e9bf68;
  --yellow-7: #d6ae5a;
  --yellow-8: #c3962d;
  --yellow-9: #f3b500;
  --yellow-10: #e4ab0c;
  --yellow-11: #875e00;
  --yellow-12: #463a20;

  --yellow-a1: #c4d5ff1a;
  --yellow-a2: #d98f0912;
  --yellow-a3: #ffd37c80;
  --yellow-a4: #ffcd6ab3;
  --yellow-a5: #ff940066;
  --yellow-a6: #df98028f;
  --yellow-a7: #c385019e;
  --yellow-a8: #b88001cf;
  --yellow-a9: #f3b500;
  --yellow-a10: #e4a800f2;
  --yellow-a11: #875e00;
  --yellow-a12: #2b1e01dd;

  --yellow-contrast: #2b2009;
  --yellow-surface: #f3ead7cc;
  --yellow-indicator: #f3b500;
  --yellow-track: #f3b500;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --yellow-1: oklch(95.2% 0.003 84.13);
      --yellow-2: oklch(94.2% 0.0224 84.13);
      --yellow-3: oklch(92.2% 0.0664 84.13);
      --yellow-4: oklch(89.6% 0.0987 84.13);
      --yellow-5: oklch(86.6% 0.1245 84.13);
      --yellow-6: oklch(82.4% 0.1162 84.13);
      --yellow-7: oklch(76.9% 0.1122 84.13);
      --yellow-8: oklch(69.8% 0.1284 84.13);
      --yellow-9: oklch(80.8% 0.1683 84.13);
      --yellow-10: oklch(77.5% 0.1572 84.13);
      --yellow-11: oklch(51% 0.1307 84.13);
      --yellow-12: oklch(35.3% 0.0431 84.13);

      --yellow-a1: color(display-p3 0.6627 0.7294 1 / 0.053);
      --yellow-a2: color(display-p3 0.8353 0.5176 0.0078 / 0.064);
      --yellow-a3: color(display-p3 1 0.6275 0 / 0.182);
      --yellow-a4: color(display-p3 1 0.4118 0 / 0.182);
      --yellow-a5: color(display-p3 0.9412 0.6549 0.0039 / 0.479);
      --yellow-a6: color(display-p3 0.8157 0.5686 0 / 0.505);
      --yellow-a7: color(display-p3 0.7098 0.4863 0 / 0.564);
      --yellow-a8: color(display-p3 0.6549 0.4588 0 / 0.721);
      --yellow-a9: color(display-p3 0.9059 0.6431 0 / 0.738);
      --yellow-a10: color(display-p3 0.8235 0.5882 0 / 0.742);
      --yellow-a11: color(display-p3 0.4431 0.2941 0 / 0.878);
      --yellow-a12: color(display-p3 0.1451 0.098 0 / 0.848);

      --yellow-contrast: #2b2009;
      --yellow-surface: color(display-p3 0.9451 0.9176 0.8549 / 0.8);
      --yellow-indicator: oklch(80.8% 0.1683 84.13);
      --yellow-track: oklch(80.8% 0.1683 84.13);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #f0efed;
  --gray-2: #ebeae7;
  --gray-3: #e2e0dc;
  --gray-4: #dad7d1;
  --gray-5: #d3cfc8;
  --gray-6: #cbc6bd;
  --gray-7: #c0bbaf;
  --gray-8: #aea798;
  --gray-9: #817967;
  --gray-10: #766e5e;
  --gray-11: #575144;
  --gray-12: #251f14;

  --gray-a1: #c4d5ff1a;
  --gray-a2: #0e398f0b;
  --gray-a3: #030d2c14;
  --gray-a4: #0805071d;
  --gray-a5: #11080126;
  --gray-a6: #1f110132;
  --gray-a7: #281e0442;
  --gray-a8: #2e20035b;
  --gray-a9: #271c0290;
  --gray-a10: #22160099;
  --gray-a11: #181102b6;
  --gray-a12: #130c01ea;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #817967;
  --gray-track: #817967;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(95.2% 0.0031 85.79);
      --gray-2: oklch(93.7% 0.0041 85.79);
      --gray-3: oklch(90.7% 0.0063 85.79);
      --gray-4: oklch(88.1% 0.0094 85.79);
      --gray-5: oklch(85.6% 0.0106 85.79);
      --gray-6: oklch(82.8% 0.0138 85.79);
      --gray-7: oklch(79.3% 0.0173 85.79);
      --gray-8: oklch(73% 0.0231 85.79);
      --gray-9: oklch(57.8% 0.0285 85.79);
      --gray-10: oklch(54.2% 0.0266 85.79);
      --gray-11: oklch(43.8% 0.0219 85.79);
      --gray-12: oklch(24.3% 0.0221 85.79);

      --gray-a1: color(display-p3 0.6627 0.7294 1 / 0.053);
      --gray-a2: color(display-p3 0.0039 0.102 0.3961 / 0.037);
      --gray-a3: color(display-p3 0.0157 0.0078 0.0902 / 0.075);
      --gray-a4: color(display-p3 0.0118 0.0039 0.0157 / 0.112);
      --gray-a5: color(display-p3 0.0627 0.0314 0.0078 / 0.149);
      --gray-a6: color(display-p3 0.1137 0.0667 0.0039 / 0.195);
      --gray-a7: color(display-p3 0.1451 0.1059 0.0039 / 0.255);
      --gray-a8: color(display-p3 0.1569 0.1059 0.0039 / 0.348);
      --gray-a9: color(display-p3 0.1412 0.098 0 / 0.556);
      --gray-a10: color(display-p3 0.1216 0.0784 0 / 0.594);
      --gray-a11: color(display-p3 0.0824 0.0549 0 / 0.708);
      --gray-a12: color(display-p3 0.0627 0.0431 0 / 0.912);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(57.8% 0.0285 85.79);
      --gray-track: oklch(57.8% 0.0285 85.79);
    }
  }
}

/**/
.dark,
.dark-theme {
  --yellow-1: #181610;
  --yellow-2: #1e1b13;
  --yellow-3: #2e230d;
  --yellow-4: #3c2a00;
  --yellow-5: #483400;
  --yellow-6: #564112;
  --yellow-7: #695323;
  --yellow-8: #85692e;
  --yellow-9: #ffc53d;
  --yellow-10: #f4bb2e;
  --yellow-11: #ffcc4c;
  --yellow-12: #fee7ba;

  --yellow-a1: #006ab803;
  --yellow-a2: #acf0c507;
  --yellow-a3: #f8b10317;
  --yellow-a4: #ffa20026;
  --yellow-a5: #fcae0034;
  --yellow-a6: #ffbd1e43;
  --yellow-a7: #ffc94b58;
  --yellow-a8: #fdc85278;
  --yellow-a9: #ffc53d;
  --yellow-a10: #ffc32ff3;
  --yellow-a11: #ffcc4c;
  --yellow-a12: #ffe8bbfe;

  --yellow-contrast: #2b2009;
  --yellow-surface: #22211880;
  --yellow-indicator: #ffc53d;
  --yellow-track: #ffc53d;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --yellow-1: oklch(19.9% 0.0111 84.13);
      --yellow-2: oklch(22.2% 0.0156 84.13);
      --yellow-3: oklch(26.4% 0.0384 84.13);
      --yellow-4: oklch(29.9% 0.0623 84.13);
      --yellow-5: oklch(33.8% 0.0708 84.13);
      --yellow-6: oklch(38.8% 0.0684 84.13);
      --yellow-7: oklch(45.3% 0.0714 84.13);
      --yellow-8: oklch(53.6% 0.0842 84.13);
      --yellow-9: oklch(85.4% 0.1572 84.13);
      --yellow-10: oklch(82.2% 0.1572 84.13);
      --yellow-11: oklch(87.3% 0.1528 84.13);
      --yellow-12: oklch(93.5% 0.0628 84.13);

      --yellow-a1: color(display-p3 0 0.5216 0.9333 / 0.009);
      --yellow-a2: color(display-p3 0.702 0.9882 0.8157 / 0.026);
      --yellow-a3: color(display-p3 0.9961 0.7451 0.1098 / 0.083);
      --yellow-a4: color(display-p3 0.9922 0.702 0 / 0.14);
      --yellow-a5: color(display-p3 1 0.7373 0 / 0.192);
      --yellow-a6: color(display-p3 0.9961 0.7804 0.2471 / 0.253);
      --yellow-a7: color(display-p3 1 0.8235 0.3882 / 0.335);
      --yellow-a8: color(display-p3 0.9961 0.8196 0.4157 / 0.453);
      --yellow-a9: color(display-p3 1 0.8078 0.3608 / 0.961);
      --yellow-a10: color(display-p3 1 0.8039 0.3294 / 0.914);
      --yellow-a11: color(display-p3 1 0.8314 0.4039 / 0.966);
      --yellow-a12: color(display-p3 0.9961 0.9294 0.7647 / 0.979);

      --yellow-contrast: #2b2009;
      --yellow-surface: color(display-p3 0.1333 0.1255 0.0941 / 0.5);
      --yellow-indicator: oklch(85.4% 0.1572 84.13);
      --yellow-track: oklch(85.4% 0.1572 84.13);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #171613;
  --gray-2: #1e1d1a;
  --gray-3: #272521;
  --gray-4: #2d2b27;
  --gray-5: #34312c;
  --gray-6: #3e3a33;
  --gray-7: #4c483e;
  --gray-8: #666052;
  --gray-9: #746c5c;
  --gray-10: #827a6a;
  --gray-11: #bab2a4;
  --gray-12: #f0eee9;

  --gray-a1: #003fe306;
  --gray-a2: #69b2fa0d;
  --gray-a3: #b8d8f515;
  --gray-a4: #cee5fa1b;
  --gray-a5: #eaf5fe20;
  --gray-a6: #fafbf529;
  --gray-a7: #fefee938;
  --gray-a8: #fef6db55;
  --gray-a9: #fdf1d365;
  --gray-a10: #fff4d874;
  --gray-a11: #fef5e4b3;
  --gray-a12: #fefdf8ef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #746c5c;
  --gray-track: #746c5c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(19.9% 0.0053 84.58);
      --gray-2: oklch(22.9% 0.0051 84.58);
      --gray-3: oklch(26.4% 0.0073 84.58);
      --gray-4: oklch(29% 0.0084 84.58);
      --gray-5: oklch(31.6% 0.0105 84.58);
      --gray-6: oklch(35.1% 0.0135 84.58);
      --gray-7: oklch(40.2% 0.0166 84.58);
      --gray-8: oklch(49% 0.0224 84.58);
      --gray-9: oklch(53.5% 0.0258 84.58);
      --gray-10: oklch(58.1% 0.0253 84.58);
      --gray-11: oklch(76.7% 0.0215 84.58);
      --gray-12: oklch(94.8% 0.0062 84.58);

      --gray-a1: color(display-p3 0 0.3137 0.9843 / 0.017);
      --gray-a2: color(display-p3 0.5255 0.7647 1 / 0.046);
      --gray-a3: color(display-p3 0.8314 0.9216 1 / 0.075);
      --gray-a4: color(display-p3 0.8784 0.9451 0.9961 / 0.1);
      --gray-a5: color(display-p3 0.9137 0.9608 1 / 0.125);
      --gray-a6: color(display-p3 0.9882 0.9961 0.9725 / 0.159);
      --gray-a7: color(display-p3 0.9961 1 0.9255 / 0.218);
      --gray-a8: color(display-p3 1 0.9725 0.8667 / 0.331);
      --gray-a9: color(display-p3 1 0.9529 0.851 / 0.392);
      --gray-a10: color(display-p3 0.9961 0.9569 0.8667 / 0.453);
      --gray-a11: color(display-p3 1 0.9686 0.902 / 0.696);
      --gray-a12: color(display-p3 1 0.9961 0.9725 / 0.935);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.5% 0.0258 84.58);
      --gray-track: oklch(53.5% 0.0258 84.58);
    }
  }
}
