@import "tailwindcss";
@import './colors.css';

/* Para que en el imput-color no salga el cuadradito */
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}
/* Genera variantes dark: */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background); /* El color del fondo de toda la pag */
  --color-foreground: var(--foreground); /* El color de la letra */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary); /* El color de mi btn principal */
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary); /* El color de mi btn secundario */
  --color-secondary-foreground: var(--secondary-foreground); 
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent); /* Se usa para interactuar con algo que no es un btn*/
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  /* --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring); */
}

:root {
  --radius: 0.625rem;
  --background: #bdb7a3;
  --foreground: var(--yellow-11);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--gray-5);
  --primary-foreground: var(--gray-11);
  --secondary: var(--yellow-4);
  --secondary-foreground: var(--yellow-11);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--yellow-9);
  --accent-foreground: var(--yellow-11);
  --destructive: oklch(39.685% 0.11826 23.637);
  --border: var(--gray-a8);
  --input: var(--gray-a5);
  /* --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

.dark {
  --background: #1a150e;
  --foreground: var(--yellow-12);
  --card: var(--gray-2);
  --card-foreground: var(--yellow-12);
  --popover: var(--gray-2);
  --popover-foreground: var(--yellow-12);
  --primary: var(--yellow-11);
  --primary-foreground: var(--gray-1);
  --secondary: var(--gray-3);
  --secondary-foreground: var(--yellow-11);
  --muted: oklch(0.269 0 0);
  --muted-foreground: var(--gray-10);
  --accent: var(--gray-3);
  --accent-foreground: var(--yellow-12);
  --destructive: oklch(39.685% 0.11826 23.637); 
  --border: var(--gray-a8);
  --input: var(--gray-a5);
  /* --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0); */
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
